@font-face {
    font-family: 'DOSVGA';
    font-style: normal;
    font-weight: normal;
    src: url('LessPerfectDOSVGA.woff') format('woff');
}

canvas[id^="d2x_"] {
    display: inline;
    max-width: 100%;
    height: auto;
}

.cIOS-svg {
    display: inline;
    width: 100%;
    max-width: 640px;
    height: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
