@font-face {
    font-family: 'DOSVGA';
    font-style: normal;
    font-weight: normal;
    src: url('DOSVGA.woff') format('woff');
}

canvas[id^="d2x_"] {
    display: inline;
    max-width: 100%;
    height: auto;
}

.cIOS-svg {
    display: inline;
    width: 100%;
    max-width: 640px;
    height: initial;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#js-enabled {
    display: none;
}

.tab-container .tab {
    padding: .5rem 1.4rem;
}

.vp-doc div[class*=language-], .vp-block {
	margin: 16px 0;
}
